* {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor_sup {
    min-height: 60px;
    background-color: rgba(186, 215, 235, 0.21);
    display: flex;
    
}


.elemento {
    width: 250px;
    height: 20px;
    background-color: rgba(161, 228, 246, 0.084);
    text-align: right;
}


.fondo {
    min-height: 1000px;
    background-image: url(./Jeringas.jpeg);
    background-size: cover;
}



